.container {
  width: calc(730 / 16 * 1rem);
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:  calc(36 / 16 * 1rem);
}

.main-title {
  font-size: calc(26 / 16 * 1rem);
  font-weight: 700;
  color: var(--primary-title-color);
}

.shadow {
  box-shadow: 0 16px 30px -10px var(--shadow-color);
}

/*
--------------------------------
        TABLET VERSION
--------------------------------
*/

@media (max-width: calc(768 / 16 * 1em))  {
  .container {
    width: calc(573 / 16 * 1rem);
  }  
}


@media (max-width: calc(600 / 16 * 1em))  {
  .container {
    width: 100%;
    padding: 0 24px 0 24px;
  }  
}
