.container {
  width: calc(730 / 16 * 1rem);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:   calc(36 / 16 * 1rem);
}

.main-title {
  color: var(--primary-title);
}