@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
  /* COLORS*/
  --white: #FFFFFF;
  --infinity: #222731;
  --san-marino: #4B6A9B;
  --anchors-aweigh: #2B3442;
  --blue-sparkle: #0079FF;
  --searching-blue: #697C9A; 
  --ceil: #90A4D4;
  --search-btn-color: var(--blue-sparkle);
  --search-btn-hover-color: #60ABFF;
  --no-results-color: #F74646;
  --message-error: #F74646;
}

:root[theme="light"] {
  --primary-background-color: #F6F8FF;
  --secondary-background-color: #FEFEFE;
  --theme-toggle-btn-color: var(--searching-blue);
  --theme-toggle-btn-color-hover: var(--infinity);

  --theme-toggle-icon-color: var(--searching-blue);
  --theme-toggle-icon-hover-color: var(--infinity);

  --primary-title-color: var(--infinity);
  --search-bar-placeholder-color: var(--san-marino);
  --search-bar-text-color: var(--infinity);
  --creation-date-color: var(--searching-blue);
  --text-primary-color: var(--san-marino);
  --text-secondary-color: var(--anchors-aweigh);
  --text-unavailable-color:  hsla(217, 35%, 45%, 0.5);
  --shadow-color: hsla(227, 46%, 51%, 0.1986);
}

:root[theme="dark"] {
  --primary-background-color: #141D2F;
  --secondary-background-color: #1E2A47;
  --theme-toggle-btn-color: var(--white);
  --theme-toggle-btn-color-hover: var(--ceil);
  
  --theme-toggle-icon-color: var(--white);
  --theme-toggle-icon-hover-color: var(--ceil);

  --primary-title-color: var(--white);
  --search-bar-placeholder-color: var(--white);
  --search-bar-text-color: var(--white);
  --creation-date-color: var(--white);
  --text-primary-color: var(--white);
  --text-secondary-color: var(--white);
  --text-unavailable-color:  hsla(0, 0%, 100%, 0.5);
  --shadow-color: hsla(212, 22%, 35%, 0);

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace, sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
}

body {
  background-color: var(--primary-background-color);
}

.text-primary-color {
  color: var(--text-primary-color);
}

.text-secondary-color {
  color: var(--text-secondary-color);
}

.icon-primary-color{
  fill: var(--text-primary-color);
}

.text-unavailable {
  color: var(--text-unavailable-color);
}

.icon-unavailable {
  fill: var(--text-unavailable-color);
}
