.info-link:link,
.info-link:visited {
    all: unset;
    cursor: pointer;
}

.info-link:hover,
.info-link:active {
    text-decoration: underline;
}

.info-display-container,
.info-display-container a.info-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px
}

.img-container {
    width: 20px;
}

.info-display-container {
    /* color: var(--text-primary-color); */
    font-size: calc(15 / 16 * 1rem);
    font-weight: 400;
}

/*
--------------------------------
        MOBILE VERSION
--------------------------------
*/
@media (max-width: calc(550 / 16 * 1em))  {
    .info-display-container {
        font-size: calc(13 / 16 * 1rem);
    }
}