.search-bar-container {
    position: relative;
}

.search-bar {
    height: calc(69 / 16 * 1rem);
    width: 100%;
    border-radius: 15px;
    padding-left: 75px;
    padding-right: 130px;
    border: none;
    font-family: "Space Mono", monospace, sans-serif;
    font-size: calc(18 / 16 * 1rem);
    font-weight: 400;
    line-height: calc(25 / 16 * 1rem);
    color: var(--search-bar-text-color);
    background-color: var(--secondary-background-color);
}

.search-bar::placeholder {
    font-family: "Space Mono", monospace, sans-serif;
    font-size: calc(18 / 16 * 1rem);
    font-weight: 400;
    color: var(--search-bar-placeholder-color);
}

.search-bar:focus {
    border: none;
    outline: none;
}

.btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: calc(106 / 16 * 1rem);
    height: calc(50 / 16 * 1rem);
    border-radius: 10px;
    background-color: var(--search-btn-color);
    border: none;
    color: var(--white);
    font-family: "Space Mono", monospace, sans-serif;
    font-size: calc(16 / 16 * 1rem);
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: var(--search-btn-hover-color);
    transition: background-color 0.3s;
}

.btn:disabled {
    background-color: var(--search-btn-hover-color);
    cursor: none;
}

.icon-search {
    position: absolute;
    top: 50%;
    left: 27px;
    transform: translateY(-50%);
}

.no-results {
    position: absolute;
    top: 50%;
    right: calc(140 / 16 * 1rem);
    transform: translateY(-50%);
    color: var(--no-results-color);
    font-size: calc(15 / 16 * 1rem);
    font-weight: 700;
}

.no-result-padding-adjustment {
    padding-right: 250px;
}
