.btn-theme {
    font-family: "Space Mono", monospace, sans-serif;
    font-size: calc(13 / 16 * 1rem);
    font-weight: 700;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--theme-toggle-btn-color);
    cursor: pointer;
}

.btn-theme:hover {
    color: var(--theme-toggle-btn-color-hover);
}

.icon {
    fill: var(--theme-toggle-icon-color);
}

.icon-hover {
    fill: var(--theme-toggle-icon-hover-color);
}