.profile-container {
    width: 100%;
    padding: calc(44 / 16 * 1rem)
             calc(46 / 16 * 1rem)
             calc(48 / 16 * 1rem)
             calc(50 / 16 * 1rem);

    margin-top: calc(24 / 16 * 1rem);
    background-color: var(--secondary-background-color);
    border-radius: 15px;
}

.user-name {
    font-size: calc(26 / 16 * 1rem);
    font-weight: 700;
}

.profile-container {
    display: grid;
    grid-template-columns: auto 1.3fr 1fr;
    grid-template-rows: repeat(5, auto);
}


.avatar-img {
    width: calc(117 / 16 * 1rem);
    height: calc(117 / 16 * 1rem);
    border-radius: 100%;
    margin-right: calc(37 / 16 * 1rem);
    grid-column: 1;
    grid-row: 1 / -1;
}


.name {
   font-size: calc(26 / 16 * 1rem);
   font-weight: 700;
   /* color: var(--secondary-title-color); */
}

.username {
    font-size: calc(16 / 16 * 1rem);
    font-weight: 400;
    color: var(--blue-sparkle);
}

.name-username-container {
    display: flex;
    flex-direction: column;
    gap: calc(2 / 16 * 1rem);
    grid-column: 2 / 3;
    grid-row: 1;
}

.creation-date {
    font-size: calc(15 / 16 * 1rem);
    font-weight: 400;
    color: var(--creation-date-color);
    grid-column: 3 / 4;
    grid-row: 1;
}

.bio {
    font-size: calc(15 / 16 * 1rem);
    font-weight: 400;
    line-height: 25px;
    /* color: #4B6A9B; */
    grid-column: 2 / -1;
    grid-row: 2;
    margin-top: calc(20 / 16 * 1rem);
}

.stats-count-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: calc(15 / 16 * 1rem) 
             calc(83 / 16 * 1rem) 
             calc(17 / 16 * 1rem) 
             calc(32 / 16 * 1rem);
    background-color: var(--primary-background-color);
    border-radius: calc(10 / 16 * 1rem);
    grid-column: 2 / -1;
    grid-row: 3;
    margin-top: calc(32 / 16 * 1rem);
}

.location {
    grid-column: 2 / 3;
    grid-row: 4;
    margin-top: calc(32 / 16 * 1rem);
}

.website {
    grid-column: 2 / 3;
    grid-row: 5;
    margin-top: calc(19 / 16 * 1rem);
}

.twitter {
    grid-column: 3 / 4;
    grid-row: 4;
    margin-top: calc(32 / 16 * 1rem);
}

.company {
    grid-column: 3 / 4;
    grid-row: 5;
    margin-top: calc(19 / 16 * 1rem);
}
