.profile-container {
    width: 100%;
}

.user-name {
    font-size: calc(26 / 16 * 1rem);
    font-weight: 700;
}

.profile-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
}


.avatar-img {
    width: calc(117 / 16 * 1rem);
    height: calc(117 / 16 * 1rem);
    border-radius: 100%;
    grid-column: 1;
    grid-row: 1 / -1;
}


.name {
   font-size: calc(26 / 16 * 1rem);
   font-weight: 700;
   color: #2B3442;
}

.username {
    font-size: calc(16 / 16 * 1rem);
    font-weight: 400;
    color: #0079FF;
    grid-column: 2 / 3;
    grid-row: 1;
}

.name-username-container {
    display: flex;
    flex-direction: column;
    gap: calc(2 / 16 * 1rem);
}

.creation-date {
    font-size: calc(15 / 16 * 1rem);
    font-weight: 400;
    color: #697C9A;
    grid-column: 3 / 4;
    grid-row: 1;
}

.bio {
    font-size: calc(15 / 16 * 1rem);
    font-weight: 400;
    line-height: 25px;
    color: #4B6A9B;
    grid-column: 2 / -1;
    grid-row: 2;
}

.stats-count-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: calc(15 / 16 * 1rem) 
             calc(83 / 16 * 1rem) 
             calc(17 / 16 * 1rem) 
             calc(32 / 16 * 1rem);
    background-color: #F6F8FF;
    border-radius: calc(10 / 16 * 1rem);
    grid-column: 2 / -1;
    grid-row: 3;
}


.location {
    grid-column: 2 / 3;
    grid-row: 4;
}

.website {
    grid-column: 2 / 3;
    grid-row: 5;
}

.twitter {
    grid-column: 3 / 4;
    grid-row: 4;
}

.company {
    grid-column: 3 / 4;
    grid-row: 5;
}